
<div class = "row">
  <div class = "large-12 columns">
<h1>Quiz#index</h1>
<p>WWW-programming weekly  excercises</p>
<p>Also bonus db programming weekly excercises:</p>
<p><%= link_to 'Accounts', controller: 'accounts' %></p>
</div>
</div>
